body {
margin: 1rem;
padding: 1rem;

}



.input-area {
    height: 10vh;
    width: 80%;
    padding: 1rem;
    
}
.area {
    align-items: center;
    margin-left: 4rem;
    padding: 2rem;
}

button {
    margin: 1rem;
    border-radius: 1rem;
    width: 8rem;
    height: 2rem;
}